.popuptext {
    height: 90px;
    text-align: center;
    margin: 100px;
    font-style: italic;
    margin-bottom: 3.5rem;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F0F0F0;
    font-weight: bold;
    color: #085372;
    width: 80vw;
}
.popup{ height:170px}
@media screen and (min-width:800px) {
  .popupmsg {
    max-width: 50vw;
  }}